{% extends "base.html" %}

{% block title %}
    Games table
{% endblock %}

{% block content %}
<div class="container mt-5">

    <!-- Messages block -->
    {% if messages %}
    <div class="messages text-center">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message|safe }}
            </div>
        {% endfor %}
    </div>
    {% endif %}

    <h2 class="text-center mb-4">Games List</h2>

    {% if not user.is_authenticated %}
    <div class="alert alert-danger alert-dismissible text-center">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
         <strong>Only authorized users</strong> can edit games table! Please <a href="{% url 'login' %}" class="alert-link" style="text-decoration: underline;"> Login</a> to edit!
      </div>
    {% endif %}

    {% if games %}
        <div class="table-responsive">
            <table class="table table-hover table-bordered text-center table-striped">
                <thead class="bg-light">
                    <tr>
                        <th><i class="fa fa-calendar text-primary"></i> Date</th>
                        <th><i class="fa fa-users text-success"></i> Team 1</th>
                        <th><i class="fa fa-star text-info"></i> Team 1 Score</th>
                        <th><i class="fa fa-users text-danger"></i> Team 2</th>
                        <th><i class="fa fa-star text-info"></i> Team 2 Score</th>
                        {% if user.is_authenticated %}
                            <th><i class="fa fa-cogs text-muted"></i> Operations</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for game in games %}
                        <tr>
                            <td>{{ game.date }}</td>
                            <td>{{ game.team_1 }}</td>
                            <td>{{ game.team_1_score }}</td>
                            <td>{{ game.team_2 }}</td>
                            <td>{{ game.team_2_score }}</td>
                            {% if user.is_authenticated %}
                                <td>
                                    <a href="{% url 'edit_game' game.pk %}" class="btn btn-sm btn-primary"><i class="fas fa-edit"></i> Edit</a>
                                    <a href="{% url 'delete_game' game.pk %}" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> Delete</a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if user.is_authenticated %}
            <div class="d-flex justify-content-center my-4">
                <a href="{% url 'create_game' %}" class="btn btn-success" style="width: 550px;">Add New Game</a>
            </div>
        {% endif %}
    {% else %}
        <div class="d-flex flex-column justify-content-center align-items-center text-center mt-3">
            <p class="lead">
                {% if user.is_authenticated %}
                    There are no Games yet. Please <a href="{% url 'home' %}">Upload CSV</a> <br> OR <br> <a href="{% url 'create_game' %}" class="btn btn-success mt-3" style="width: 550px;">Add New Game</a>.
                {% else %}
                    There are no Games yet. Please <a href="{% url 'login' %}">Login</a> to Upload CSV or Add New Game.
                {% endif %}
            </p>
        </div>
    {% endif %}
</div>
{% endblock %}
