{% extends "base.html" %}

{% block title %}
    Games table
{% endblock %}
    
{% block content %}
  <div class="container mt-5">
    
    <h2 class="text-center m-3">Games List</h2>
    <table class="table table-striped text-center">
        <thead>
            <tr>
                <th><i class="fa fa-calendar text-primary"></i> Date</th>
                <th><i class="fa fa-users text-success"></i> Team 1</th>
                <th><i class="fa fa-star text-info"></i> Team 1 Score</th>
                <th><i class="fa fa-users text-danger"></i> Team 2</th>
                <th><i class="fa fa-star text-info"></i> Team 2 Score</th>
                <th><i class="fa fa-cogs text-primary"></i> Operations</th>
            </tr>
        </thead>
        <tbody>
            {% for game in games %}
            <tr>
                <td>{{ game.date }}</td>
                <td>{{ game.team_1 }}</td>
                <td>{{ game.team_1_score }}</td>
                <td>{{ game.team_2 }}</td>
                <td>{{ game.team_2_score }}</td>
                <td>
                    <a href="{% url 'edit_game' game.pk %}" class="btn btn-primary"><i class="fas fa-edit"></i> Edit</a>
                    <a href="{% url 'delete_game' game.pk %}" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    <div class="mb-3 d-flex justify-content-center">
        <a href="{% url 'create_game' %}" class="btn btn-success">Add New Game</a>
    </div>
  </div>
{% endblock %}
