{% extends "base.html" %}

{% block content %}
  <div class="container mt-5">
    <h2>Team Rankings</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Ranking</th>
                <th>Team</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            {% for team in teams %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ team.name }}</td>
                <td>{{ team.points }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
{% endblock %}
