{% extends 'base.html' %}
{% load widget_tweaks %} 

{% block title %} Edit Game {% endblock %}
{% block content %}
    <div class="container mt-5">
        <div class="card shadow-sm"> 
            <div class="card-body">
                <h2 class="text-center mb-4">Edit Game</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="{{ form.team_1.id_for_label }}" class="form-label">{{ form.team_1.label }}</label>
                        {{ form.team_1|add_class:"form-control" }} 
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.team_1_score.id_for_label }}" class="form-label">{{ form.team_1_score.label }}</label>
                        {{ form.team_1_score|add_class:"form-control" }}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.team_2.id_for_label }}" class="form-label">{{ form.team_2.label }}</label>
                        {{ form.team_2|add_class:"form-control" }}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.team_2_score.id_for_label }}" class="form-label">{{ form.team_2_score.label }}</label>
                        {{ form.team_2_score|add_class:"form-control" }}
                    </div>
                    <div class="d-flex justify-content-center"> 
                        <button type="submit" class="btn btn-primary rounded-pill">Save Changes</button> 
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
