{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">

            <!-- Отображение сообщений об ошибках -->
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            <h2 class="text-center mb-4">Register</h2>
            <form method="post">
                {% csrf_token %}
                
                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}">Username</label>
                    {{ form.username }}
                </div>

                <div class="form-group">
                    <label for="{{ form.password1.id_for_label }}">Password</label>
                    {{ form.password1 }}
                </div>

                <div class="form-group">
                    <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
                    {{ form.password2 }}
                </div>

                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
